root = true

[*]
insert_final_newline = true
max_line_length = 100

[*.{kt,kts}]
charset = utf-8
indent_style = space
indent_size = 2
# noinspection EditorConfigKeyCorrectness
ij_kotlin_imports_layout = *,java.**,javax.**,kotlin.**,^
